WhiteBoardCast/build/
build/
projectFilesBackup/
WhiteBoardCast/releases/
.gradle/
WhiteBoardCast/release/
.idea/libraries/
.idea/caches/
.idea/workspace.xml
WhiteBoardCast/WhiteBoardCast-WhiteBoardCast.iml
